<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickLookPlugIn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>vAmiga.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>vAmigaCore.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>508FDE6321EA1FA40043D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508FDE7721EA1FA50043D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508FDE8221EA1FA50043D0E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>509EA5422D51EFD40001BC50</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50FC046C27DA0FA500C3E566</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
