name: CMake with MinGW

on:
  push:
  pull_request:
  schedule:
    - cron: '40 5 * * *'

#env:
#  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - { sys: mingw32, env: i686, build: Release }
          - { sys: mingw32, env: i686, build: Debug }
          - { sys: mingw64, env: x86_64, build: Release }
          # - { sys: mingw64, env: x86_64, build: Debug }
    name: ${ matrix.sys }}
    defaults:
      run:
        shell: msys2 {0}
    steps:

    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: '${{ matrix.icon }} Configure MSYS2'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: >-
          git
          make
          mingw-w64-${{matrix.env}}-toolchain
          mingw-w64-${{matrix.env}}-cmake
          mingw-w64-${{matrix.env}}-ninja

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        
    - name: Build
      working-directory: ./Emulator
      run: |
        cmake -G Ninja -B build -DCMAKE_BUILD_TYPE=${{matrix.build}}
        cmake --build build --config ${{matrix.build}}
      
    - name: Test
      working-directory: build
      run: ctest --verbose --build-config ${{matrix.build}}
